<header class="header">
    <nav class="nav">
        <div class="nav-container">
            <div class="logo">
                <a href="index.html" aria-label="Tilli Home">
                    <img src="Tilli Home Page/tilli-logo.png" alt="Tilli Logo">
                </a>
            </div>
            <ul class="nav-menu">
                <li class="dropdown">
                    <a href="index.html#products">Products</a>
                    <ul class="dropdown-menu">
                        <li><a href="nudge.html"><span>Nudge</span><small>Digital Communication</small></a></li>
                        <li><a href="tillix.html"><span>tilliX</span><small>Customer Experience</small></a></li>
                        <li><a href="tillipay.html"><span>tilliPay</span><small>Global Payment Stack</small></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="industries.html">Industries</a>
                    <ul class="dropdown-menu dropdown-columns">
                        <li><a href="banking-finance.html">Banking and Finance</a></li>
                        <li><a href="retailers-merchants.html">Retailers &amp; Merchants</a></li>
                        <li><a href="saas-billing.html">SaaS Billing</a></li>
                        <li><a href="insurance.html">Insurance</a></li>
                        <li><a href="public-sector.html">Public Sector</a></li>
                        <li><a href="utilities.html">Utilities</a></li>
                        <li><a href="rentals-leases.html">Rentals &amp; Leases</a></li>
                        <li><a href="telecommunications.html">Telecommunications</a></li>
                        <li><a href="education.html">Education and Universities</a></li>
                        <li><a href="memberships.html">Memberships</a></li>
                        <li><a href="gaming-developers.html">Gaming &amp; Developers</a></li>
                        <li><a href="media-entertainment.html">Media and Entertainment</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#resources">Resources</a>
                    <ul class="dropdown-menu">
                        <li><a href="press-release.html">Press Release</a></li>
                        <li><a href="blog.html">Blogs</a></li>
                        <li><a href="case-studies.html">Case Studies</a></li>
                    </ul>
                </li>
                <li><a href="developer.html">Developer</a></li>
                <li><a href="about.html">Company</a></li>
                <li><a href="pricing.html">Pricing</a></li>
            </ul>
            <a class="cta-button" href="contact.html">Contact Us</a>
            <a class="cta-button" href="free-trial.html">Free Trial</a>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</header>


